{
  "appenders": { "log": { "type": "file", "filename": "notify.log" },
  "exception": { "type": "file", "filename": "notify_exception.log" } },
  "categories": { "default": { "appenders": ["log"], "level": "error" },
                  "exception": { "appenders": ["exception"], "level": "error" } 
                  }
  
}